doctype html
html
	head
		title Martin Hobert - Portfolio
		meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport"
		link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'
		link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,600,300' rel='stylesheet' type='text/css'
		link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css"
	body
		#site_wrapper
			#menu_wrapper
				ul
					li.active Profile
					li CV
					li Documents
					li References
					li Contact
			#inner_wrapper
				#top_content_wrapper
					#profile_pic
					#desc_wrapper
						#upper_desc
							.vlign
								h1 Martin Hobert
							span#job_title Front-end Developer
						#lower_desc
							.vlign
								.content_container
									h2 Profile Description
									p Dedicated, efficient, and hardworking. Some of the keywords when describing myself as a developer. I'm always up for a good laugh and enjoy hanging out with coworkers.
					.cf
